<div class="sidebar one_quarter first">
    <!-- ################################################################################################ -->
    <h6>Navigator</h6>
   
    <nav class="sdb_holder">
      <ul>
        {%for n ,m in Category.items %}
          <li ><a  class=""href="{% url 'pages' slug=n.url  %}">{{n.menu}}</a>
          
            {%for i in m %}
            {% if i.name%}
          <ul>
            <li class="  " ><a href="{% url 'pages' slug=i.url %}">{{i.name}}</a></li>

          </ul>
          
         
            {%else%}

            {%endif%}
          {% endfor %}
        </li>
        {%endfor%}
      </ul>
       </nav>

    <!-- ################################################################################################ -->
  </div>