<div class="sidebar one_quarter first">
    <!-- ################################################################################################ -->
    <h6>Navigator</h6>
    <nav class="sdb_holder">
        <ul >
          <li ><a href="/">Hem</a></li>
          <li><a  href="#">StädTjänster </a>
            <ul>
                <li><a href="{% url 'pages' title='storstädning'  %}">Storstädning</a></li>
                  <li><a href="{% url 'pages' title='fönsterputsning'  %}">Fönsterputsning</a></li>
                  <li><a href="{% url 'pages' title='kontorsstädning'  %}">Kontorsstädning</a></li>
                   <li><a href="{% url 'pages' title='golvvård'  %}">Golvvård</a></li>
                  <li><a href="{% url 'pages' title='butikstädning'  %}">Butikstädning</a></li>
                  <li><a href="{% url 'pages' title='skolor och dagis'  %}">Skolor och dagis</a></li>
                <!--<li><a class="drop" href="{% url 'cleaning' %}">lokalvård</a>
                  <ul>
                  <li><a href="{% url 'pages' title='storstädning'  %}">Storstädning</a></li>
                  <li><a href="{% url 'pages' title='fönsterputsning'  %}">Fönsterputsning</a></li>
                  <li><a href="{% url 'pages' title='kontorsstädning'  %}">Kontorsstädning</a></li>
                   <li><a href="{% url 'pages' title='golvvård'  %}">Golvvård</a></li>
                  <li><a href="{% url 'pages' title='GOLVSLIPNING'  %}"> Golvslipning</a></li>
                  <li><a href="{% url 'pages' title='butikstädning'  %}">Butikstädning</a></li>
                  <li><a href="{% url 'pages' title='skolor och dagis'  %}">Skolor och dagis</a></li>


                </ul></li>-->
              <li><a href="{% url 'pages' title='hemstädning'  %}">Hemstädning</a></li>
              <li><a href="{% url 'pages' title='Hotell städning'  %}">Hotell städning</a></li>
              <li><a href="{% url 'pages' title='trappstädning'  %}">Trappstädning</a></li>
                <li><a href="{% url 'pages' title='byggstädning'  %}">Byggstädning</a></li>
                <li><a href="{% url 'pages' title='flyttstädning'  %}">Flyttstädning</a></li>
           <!-- <li><a  class="drop" href="{% url 'propertyservice'  %}" > Fastighets service</a>
            <ul>
                <li><a href="{% url 'pages' title='trappstädning'  %}">Trappstädning</a></li>
                <li><a href="{% url 'pages' title='byggstädning'  %}">Byggstädning</a></li>
                <li><a href="{% url 'pages' title='flyttstädning'  %}">Flyttstädning</a></li>

                </ul></li>-->

            </ul>
          </li>
          <li><a href=" {% url 'pages' title='Kvalitet'  %}" >Kvalitet</a></li>
          <li class=""><a href="{% url 'pages' title='OM OSS'  %}">OM OSS</a></li>
          <li class=""><a href="{% url 'pages' title='KONTAKTA OSS'  %}">KONTAKTA OSS</a></li>
        </ul>
    </nav>

    <!-- ################################################################################################ -->
  </div>